
body,html
 {
    height: 100%;
    margin: 0;
}


.container {
   
        background-image: url(./backgroud/wallpaper1.jpg);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: .35;
 

        
}
